<div class="card card-body">
    <h3>Create new Post</h3>
    <form action="/posts" method="post"></form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
        <label for="text">Post</label>
        <textarea name="text" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add post</button>
</div>